
.modal-body .section-title:first-child{
    margin-top: 10px;
}
 


.section-title{
    background-color: #014776;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    margin-top: 35px;
    p {
        margin: 0;
    }
}

.section{
    margin-top: 18px;
}

.label{
    color: #014776;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.modal-content{
    padding: 15px;
}

.botones{
    width: 100%;
    gap: 10px;
}

.icon-upload{
    color: #014776;
}

.detalle-btn{
    cursor: pointer;
    color: black;
    margin: 0;
}