<div class="d-flex w-100">
  <a href="" [routerLink]="['/estudiante/pages/mis-solicitudes']">
      <span class="material-icons-outlined icon-return mr-2 mt-2"> arrow_back </span>
  </a>
</div>

<div class="col-lg-12 col-md-12">
  <div class="card">
    <div
      class="card-header d-inline-flex align-items-center card-header-primary"
    >
      <h4 class="card-title">Registrar Solicitud de Prácticas</h4>
    </div>
    <div class="card-body table-responsive pt-4">
      <form action="">
        <div class="row">
          <div class="col-4">
            <p class="title-section">NUTRICIONISTA SUPERVISOR</p>
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                placeholder="Nombres Completos"
                [(ngModel)]="nombresupervisor"
                name="nombresupervisor"
              />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input
                matInput
                type="email"
                placeholder="Correo Electrónico"
                [(ngModel)]="correosupervisor"
                name="asasas"
              />
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                placeholder="Teléfono"
                [(ngModel)]="telefonosupervisor"
                name="telefonosupervisor"
              />
            </mat-form-field>

            <!--
                            <input type="text" class="form-control mb-3" id="" placeholder="Nombres Completos">
                            <input type="email" class="form-control mb-3" id="" placeholder="Correo Electrónico">
                            <input type="text" class="form-control mb-3" id="" placeholder="Teléfono">
                        -->
          </div>
          <div class="col-4">
            <p class="title-section">REMITENTE</p>
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                placeholder="Nombres Completos"
                [(ngModel)]="nombredirector"
                name="nombredirector"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                placeholder="Cargo"
                [(ngModel)]="cargodirector"
                name="cargodirector"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input
                matInput
                type="email"
                placeholder="Correo Electrónico"
                [(ngModel)]="correodirector"
                name="correodirector"
              />
            </mat-form-field>

            <!--
                            ---- Inputs de Bootstrap ----
                            <input type="text" class="form-control mb-3" id="" placeholder="Nombres Completos">
                            <input type="email" class="form-control mb-3" id="" placeholder="Cargo">
                            <input type="text" class="form-control mb-3" id="" placeholder="Correo Electrónico">
                        -->
          </div>
          <div class="col-4">
            <p class="title-section">DATOS DEL CENTRO</p>

            <mat-form-field class="example-full-width">
              <input
                matInput
                type="text"
                placeholder="Nombres del Centro"
                [(ngModel)]="centro"
                name="asasas"
              />
            </mat-form-field>

            <div class="d-flex">
              <mat-form-field
                style="width: 45%"
                class="example-full-width mr-4"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Distrito"
                  [(ngModel)]="distrito"
                  name="direccion"
                />
              </mat-form-field>
              <mat-form-field style="width: 45%" class="example-full-width">
                <input
                  matInput
                  type="text"
                  placeholder="Provincia"
                  [(ngModel)]="provincia"
                  name="provincia"
                />
              </mat-form-field>
            </div>
            <div class="d-flex">
              <mat-form-field
                style="width: 45%"
                class="example-full-width mr-4"
              >
                <input
                  matInput
                  type="text"
                  placeholder="Departamento"
                  [(ngModel)]="departamento"
                  name="departamento"
                />
              </mat-form-field>
              <mat-form-field style="width: 45%" class="example-full-width">
                <input
                  matInput
                  type="text"
                  placeholder="Direccion"
                  [(ngModel)]="direccion"
                  name="direccion"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-3">
                <label class="title-section" for="fecha-inicio"
                  >Fecha inicio:</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="fecha-inicio"
                  placeholder="Fecha inicio"
                  [(ngModel)]="fechainicio"
                  name="fecha-inicio"
                />
              </div>

              <div class="col-3 px-md-4">
                <label class="title-section" for="fecha-fin">Fecha fin:</label>
                <input
                  type="date"
                  class="form-control"
                  id="fecha-fin"
                  placeholder="Fecha fin"
                  [(ngModel)]="fechafin"
                  name="fecha-fin"
                />
              </div>

              <div class="col-3 px-md-4 d-flex align-items-center">
                <select
                  class="form-control select-practicas"
                  name="miselect"
                  [(ngModel)]="seleccionado"
                >
                  <option
                    *ngFor="let item of lista; let i = index"
                    [value]="item.value"
                  >
                    {{ item.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <div class="row">
              <div class="col-7">
                <label class="title-section" for="desc-actividades"
                  >Descripción de actividades:</label
                >
                <textarea
                  name="texto"
                  id="desc-actividades"
                  class="input-descripcion-actividades"
                  cols="50"
                  rows="10"
                  placeholder="Describir las actividades"
                  [(ngModel)]="descripcion"
                  name="descripcion"
                ></textarea>
              </div>

              <div class="col-12 d-flex flex-row-reverse">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-info btn-registrar"
                  (click)="registrarsolicitud()"
                >
                  REGISTRAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
