

<div class="d-flex w-100">
    <a href="" [routerLink]="['/estudiante/pages/mis-solicitudes']">
        <div class="d-inline-flex align-items-center mt-3 gap-3">
            <span class="material-icons-outlined icon-return mr-2">
                arrow_back
            </span>
            <span class="title">Volver</span>
        </div>
    </a>
</div>


<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header d-inline-flex align-items-center card-header-primary">
            <h4 class="card-title">Registrar Solicitud de Prácticas</h4>
        </div>
        <div class="card-body table-responsive pt-4">
            <form action="">
                <div class="row">
                    <div class="col-4">
                        <p class="title-section">NUTRICIONISTA SUPERVISOR</p>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Nombres Completos">
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width">
                            <input matInput type="email" placeholder="Correo Electrónico">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Teléfono">
                        </mat-form-field>


                        <!--
                            <input type="text" class="form-control mb-3" id="" placeholder="Nombres Completos">
                            <input type="email" class="form-control mb-3" id="" placeholder="Correo Electrónico">
                            <input type="text" class="form-control mb-3" id="" placeholder="Teléfono">
                        -->
                        
                    </div>
                    <div class="col-4">
                        <p class="title-section">REMITENTE</p>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Nombres Completos">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Cargo">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput type="email" placeholder="Correo Electrónico">
                        </mat-form-field>

                        <!--
                            ---- Inputs de Bootstrap ----
                            <input type="text" class="form-control mb-3" id="" placeholder="Nombres Completos">
                            <input type="email" class="form-control mb-3" id="" placeholder="Cargo">
                            <input type="text" class="form-control mb-3" id="" placeholder="Correo Electrónico">
                        -->
                        
                    </div>
                    <div class="col-4">
                        <p class="title-section">DATOS DEL CENTRO</p>

                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Nombres del Centro">
                        </mat-form-field>


                        <div class="d-flex">
                            <mat-form-field style="width: 45%;" class="example-full-width mr-4">
                                <input matInput type="text" placeholder="Distrito">
                            </mat-form-field>
                            <mat-form-field style="width: 45%;" class="example-full-width">
                                <input matInput type="text" placeholder="Provincia">
                            </mat-form-field>
                        </div>
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Departamento">
                        </mat-form-field>
                        
                    </div>

                    <div class="col-12 mt-5">
                        <div class="row">
                            <div class="col-3">
                                <label class="title-section" for="fecha-inicio">Fecha inicio:</label>
                                <input type="date" class="form-control" id="fecha-inicio" placeholder="Fecha inicio">
                            </div>
    
                            <div class="col-3 px-md-4">
                                <label class="title-section" for="fecha-fin">Fecha fin:</label>
                                <input type="date" class="form-control" id="fecha-fin" placeholder="Fecha fin">
                            </div>
    
                            <div class="col-3 px-md-4 d-flex align-items-center">
                                <select class="form-control select-practicas">
                                    <option >--- Seleccione el tipo de prácticas ---</option>
                                    <option>Prácticas Clínicas</option>
                                    <option>Prácticas Comunitarias</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-5">
                        <div class="row">
                            <div class="col-5">
                                <label class="title-section" for="fecha-inicio">Descripción de actividades:</label>
                                <p>Describir actividades</p>

                                <button type="button" mat-raised-button class="btn btn-white btn-subir ml-auto mr-3"
                                    style="text-transform: none;">
                                    <label class="detalle-btn d-inline-flex align-items-center" for="file-upload-descripcion" style="cursor: pointer;">
                                        <i class="material-icons-outlined icon-upload mr-2">
                                            file_upload
                                        </i>
                                        Subir archivo
                                    </label>
                                    
                                </button>
                                <input (change)="mostrarNombreArchivo()" id="file-upload-descripcion" type="file" hidden/>
                            </div>
                            
                            <div class="col-12 d-flex flex-row-reverse">
                                <button mat-raised-button type="button" class="btn btn-info btn-registrar">REGISTRAR</button>
                            </div>
                            
                        </div>
                    </div>

                    
                </div>
            </form>
        </div>
    </div>
</div>