<div
  class="modal fade"
  id="validarPlaza"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header p-1 justify-content-center">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <i class="material-icons-outlined icon-cancel"> cancel </i>
        </button>
      </div>
      <div class="modal-body text">
        <div class="section-title">
          <p>DATOS DEL SOLICITANTE:</p>
        </div>
        <div class="row section">
          <div class="col-3">
            <p class="label">CÓDIGO</p>
            <p class="text">{{ soli?.cod_alumno }}</p>
          </div>
          <div class="col-4">
            <p class="label">NOMBRES Y APELLIDOS</p>
            <p class="text">{{ soli?.nom_usuario }}</p>
          </div>
          <div class="col-3">
            <p class="label">DNI</p>
            <p class="text">{{ soli?.num_doc }}</p>
          </div>
          <div class="col-4">
            <p class="label">TIPO DE PRÁCTICA</p>
            <p class="text">{{ soli?.nom_tipoprac }}</p>
          </div>
        </div>

        <div class="section-title">
          <p>DATOS DEL NUTRICIONISTA:</p>
        </div>
        <div class="row section">
          <div class="col-4">
            <p class="label">NOMBRES Y APELLIDOS</p>
            <p class="text">{{ soli?.sup_nombre }}</p>
          </div>
          <div class="col-3">
            <p class="label">DNI</p>
            <p class="text">{{ soli?.sup_telefono }}</p>
          </div>
          <div class="col-4">
            <p class="label">CORREO ELECTRÓNICO</p>
            <p class="text">{{ soli?.sup_correo }}</p>
          </div>
        </div>

        <div class="section-title">
          <p>DATOS DEL DIRECTOR O ESPECIALISTA ENCARGADO:</p>
        </div>
        <div class="row section">
          <div class="col-4">
            <p class="label">NOMBRES Y APELLIDOS</p>
            <p class="text">{{ soli?.rem_nombre }}</p>
          </div>
          <div class="col-3">
            <p class="label">CARGO</p>
            <p class="text">{{ soli?.rem_cargo }}</p>
          </div>
          <div class="col-4">
            <p class="label">CORREO ELECTRÓNICO</p>
            <p class="text">{{ soli?.rem_correo }}</p>
          </div>
        </div>

        <div class="section-title">
          <p>PLAN DE ACTIVIDADES:</p>
        </div>
        <div class="row section">
          <div class="col-3">
            <p class="label">FECHA INICIO</p>
            <p class="text">{{ soli?.fecha_inicio | date : "dd/MM/yyyy" }}</p>
          </div>
          <div class="col-3">
            <p class="label">FECHA FIN</p>
            <p class="text">{{ soli?.fecha_fin | date : "dd/MM/yyyy" }}</p>
          </div>
        </div>

        <div class="section-title">
          <p>DATOS DEL CENTRO DE PRÁCTICAS:</p>
        </div>
        <div class="row section">
          <div class="col-4">
            <p class="label">NOMBRE DE LA INSTITUCIÓN</p>
            <p class="text">{{ soli?.centro_practicas }}</p>
          </div>
          <div class="col-3">
            <p class="label">DIRECCIÓN</p>
            <p class="text">{{ soli?.direccion }}</p>
          </div>
          <div class="col-3">
            <p class="label">DISTRITO</p>
            <p class="text">{{ soli?.distrito }}</p>
          </div>
          <div class="col-4">
            <p class="label">PROVINCIA</p>
            <p class="text">{{ soli?.provincia }}</p>
          </div>
          <div class="col-4">
            <p class="label">DEPARTAMENTO</p>
            <p class="text">{{ soli?.departamento }}</p>
          </div>
        </div>
        <div class="section-title">
          <p>OBSERVACIONES</p>
        </div>
        <div class="row section">
          <div class="col-12">
            <textarea
              name="texto"
              class="observaciones"
              cols="20"
              rows="5"
              style="width: 100%"
              disabled
              >{{ soli?.observacion }}</textarea
            >
          </div>
        </div>
        <div
          *ngIf="TipoVisual == 1"
          class="botones d-inline-flex justify-content-end mt-5"
        >
          <button
            mat-raised-button
            type="button"
            class="btn btn-danger"
            (click)="rechazar(soli?.id_solicitud, soli?.id_postulante)"
          >
            RECHAZAR
          </button>
          <button
            mat-raised-button
            type="button"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#observacionesPlaza"
            (click)="ocultarModal1()"
          >
            OBSERBACION
          </button>
          <button
            mat-raised-button
            type="button"
            class="btn btn-success"
            (click)="validar(soli?.id_solicitud)"
          >
            VALIDAR PLAZA
          </button>
        </div>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      hidden
      #close_modal1
    ></button>
  </div>
</div>

<!---Modal para Observaciones-->
<div
  class="modal fade"
  id="observacionesPlaza"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-1">
        <h4 class="title-submodal">Observaciones:</h4>
      </div>
      <div class="modal-body text">
        <textarea
          name="texto"
          class="input-observacion"
          cols="30"
          rows="10"
          placeholder="Escribe aquí las observaciones de la solicitud"
          [(ngModel)]="obser"
        ></textarea>
        <div class="d-inline-flex justify-content-end mt-3 w-100">
          <button
            mat-raised-button
            class="btn btn-success mr-3"
            (click)="obserbacion(soli?.id_solicitud)"
          >
            ENVIAR OBSERVACIÓN
          </button>
          <button
            mat-raised-button
            class="btn btn-danger"
            (click)="backToModal1()"
          >
            CANCELAR
          </button>
        </div>
      </div>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    hidden
    #close_modal2
  ></button>
</div>
