<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">task</i>
                        </div>
                        <p class="card-category">Solicitudes Validadas</p>
                        <h3 class="card-title indicador">49/50
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>3 Solicitudes pendientes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons icono">note_add</i>
                        </div>
                        <p class="card-category">Cartas Agregadas</p>
                        <h3 [countUp]="126" class="card-title indicador">0</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>32 en el último mes</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <p class="card-category">Postulantes añadidos</p>
                        <h3 [countUp]="209" class="card-title indicador">0</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <p>45 en el último mes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title statistics-title">SOLICITUDES SUBIDAS AL SISTEMA</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="material-icons">straight</i>55% </span> increase in today
                            sales.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="chart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title statistics-title">SOLICITUDES OBSERVADAS</h4>
                        <p class="card-category">
                            <span class="text-danger"><i class="material-icons" style="transform: rotate(180deg);">straight</i>55% </span> increase in today
                            sales.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>