.cards{
    display: flex;
    flex-direction: row;
    gap: 5;
    justify-content: space-around;
    align-content: space-around;
}

.card{
    color: black;
}

.card p{
    color: black;
}

.card .card-header .card-category{
    color: black;
}

.icono{
    font-size: 22px;
}

.card .card-header .card-category{
    font-size: 16px;
}

.card .card-footer .stats{
    font-size: 14px;
}

.indicador{
    color: black;
    font-weight: bold
}

.statistics-title{
    font-size: 16px;
    font-weight: bold;
}