<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
                <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                    Solicitudes Pendientes de Validación
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                    Solicitudes Observadas
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="nav-item">
                <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                    Solicitudes Validadas
                    <div class="ripple-container"></div>
                </a>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="row mb-4 mt-4 mx-4">
          <div class="col-4 d-inline-flex">
            <span class="material-icons-outlined mt-1 mx-3 btn-filtro">
              filter_list
            </span>
            <select class="form-control" id="select-filtro">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3"></div>
          <div class="col-5 d-inline-flex align-items-center">
            <input type="text" value="" placeholder="Regular" class="form-control" />
            <button type="button" class="btn btn-primary btn-buscar">Primary</button>
          </div>
        </div>
        <div class="tab-pane active" id="profile">
          <table class="table">
            <thead class="text-danger">
              <th>Código Alumn.</th>
              <th>Nombre del Postulante</th>
              <th style="text-align: center;">Acción</th>
            </thead>
            <tbody>
              <tr>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-primary btn-validar">Validar</button>
                </td>
              </tr>
              <tr>
                <td>Minerva Hooper</td>
                <td>Curaçao</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-primary btn-validar">Validar</button>
                </td>
              </tr>
              <tr>
                <td>Sage Rodriguez</td>
                <td>Netherlands</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-primary btn-validar">Validar</button>
                </td>
              </tr>
              <tr>
                <td>Philip Chaney</td>
                <td>Korea, South</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-primary btn-validar">Validar</button>
                </td>
              </tr>
              <tr>
                <td>Doris Greene</td>
                <td>Malawi</td>
                <td style="text-align: center;">
                  <button type="button" class="btn btn-primary btn-validar">Validar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="messages">

        </div>
        <div class="tab-pane" id="settings">

        </div>
      </div>
    </div>
  </div>
</div>
