.form-control{
    background-image: none;
}


.icon-filtro{
    border-radius: 50%;
    padding: 2px;
    border: 1px black solid;
}

.btn-buscar{
    box-shadow: 0;
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image){
    padding: 0px;
}

.card .card-header-primary:not(.card-header-icon):not(.card-header-text){
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 34%);
}

.nav-tabs{
    display: table;
    width: 100%;
}

.nav-tabs .nav-item{
    display: table-cell;
    white-space: nowrap;
}

.nav-tabs-wrapper .nav-item a{
    color: #464646;
}

.nav-tabs-wrapper a{
    color: #464646;
    background-color: #9C9C9C;
    padding: 20px;
    font-size: 16px;
}

.nav-tabs .nav-item .nav-link.active{
    color: white;
    background-color: #014776;
}

.nav-tabs[_ngcontent-sbl-c99] .nav-item[_ngcontent-sbl-c99] .nav-link.active[_ngcontent-sbl-c99]{
    color: white;
}

.select-filtro{
    width: 10em;
    border: 1px black solid;
    background-color: #dadada;
    padding-left: 5px;
    padding-right: 5px;
}

.input-codigo{
    width: 20em;
    border: 1px black solid;
    background-color: #dadada;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.table td{
    padding: 10px 8px;
}

.btn-validar{
    background-color: #014776;
    transition: none;
}

.btn-validar:hover{
    background-color: #03426c;
    box-shadow: none;
}