<div class="container-fluid main">
    <div class="row">
        <div class="col-7 g-0">
            <div class="fondo-universidad">
                <img class="fondo" src="/assets/img/fondoupeu.png" width="90%">
            </div>
        </div>
        <div class="col-5">
            <div class="login d-flex flex-column mx-auto">
                <img src="/assets/img/frutas.jpg" class="icono-login" alt="...">
                <form class="formulario">
                      <div class="mb-4">
                        <input type="text" class="form-control input" id="usuario" placeholder="USUARIO" required>
                      </div>
                      <div class="mb-4">
                        <input type="password" class="form-control input" id="password" placeholder="CONTRASEÑA" required>
                      </div>
                      <div class="botones">
                        <button class="btn boton-login mt-1" id="login" type="button">INGRESAR</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
