<div class="p-3 sidecolor sidebar-wrapper" style="height: 100vh; ">
    <a href="/" class=" sidecolor">
    </a>
    <div class="dropdown sidecolor" >
      <a href="#" class="d-flex align-items-center text-white text-decoration-none flex-column" data-bs-toggle="dropdown">
        <img src="/assets/img/user.png"  width="200px" class="rounded-circle me-2">

         <strong class="">YONEL QUEREVALU ZEVALLOS</strong>
         <strong class="">8vo ciclo</strong>
         <strong class="">codigo:202013456</strong>
      </a>
    </div>
</div>
