<div class="p-3 sidecolor sidebar-wrapper" style="height: 108.5%; margin-top: 30%">
    <a href="/" class=" sidecolor">
    </a>
    <div class="dropdown sidecolor" >
      <a href="#" class="d-flex align-items-center text-white text-decoration-none flex-column" data-bs-toggle="dropdown">
        <img src="/assets/img/user.png"  width="190px" class="rounded-circle me-2">

         <strong class="">YONEL QUEREVALU ZEVALLOS</strong>
         <strong class="">8vo ciclo</strong>
         <strong class="">codigo:202013456</strong> 
         <button type="button" class="btn btn-warning text-white" style="margin-top:290px;vertical-align:middle"><span class="material-icons-outlined">
          logout
          </span>SALIR</button>
      </a>
      
    </div>
    
  </div>
