<div class="d-flex flex-column flex-shrink-0 p-3  sidecolor" style="width: 22%;height: 690px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none sidecolor">
    </a>
    <div class="dropdown sidecolor" >
      <a href="#" class="d-flex align-items-center text-white text-decoration-none flex-column" data-bs-toggle="dropdown">
        <img src="https://www.example.com/images/dinosaur.jp"  width="200px" height="200px" class="rounded-circle me-2">

         <strong class="">YONEL QUEREVALU ZEVALLOS</strong>
         <strong class="">8vo ciclo</strong>
         <strong class="">codigo:202013456</strong>
      </a>
    </div>
</div>
