<div class="container">
    <p class="title">Practicas Sector Público</p>
    <a href="">Ver solicitud realizada</a>
    <div class="mt-5">
        <p class="subir-doc">SUBIR DOCUMENTO DE FINALIZACIÓN DE PRÁCTICAS</p>
        <label
            class="btn btn-success rounded-pill mb-0"
            type="button"
            style="font-size: 12px; background-color: #f0a017; color: white"
            for="inputGroupFile02"
            >
            SUBIR <span class="material-icons-outlined">
                file_upload
            </span>
        </label>
        <input
            type="file"
            class="form-control"
            id="inputGroupFile02"
            hidden
        />
    </div>
</div>