.espacio-trabajo{
    padding-top: 80px;
    position: relative;
    height: 100vh;
}
#espacio-principal{
    padding: 30px;
    padding-top: 20px;
    height: 100%;
}

.icon-return{
    font-size: 28px;
    margin-top: 3px;
}

.title{
    font-size: 20px;
}

.space-options{
    background-color: #B2B1A7;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
    height: 85%;
}

a:link, a:visited, a:active{
    text-decoration: none; color: black; text-align: center;
}

/* ------------- Stepper ------------- */

.wrapper-progressBar {
    width: 100%
}


.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    position: relative;
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white;
    z-index: 2;
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    transition: 2s;
    color: dodgerblue;
}

.progressBar li.active:before {
    transition: 2s;
    border-color: dodgerblue;
    background-color: dodgerblue
}

.progressBar .active:after {
    transition: 2s;
    background-color: dodgerblue;
}

#btnSubir{
    font-size: 14px; 
    background-color: #f0a017; 
    color: white;
    padding: 10px;
    border: none;
}