<div class="modal fade" id="agregarCartaPresentacion" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1 justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons-outlined icon-cancel">
                        cancel
                    </i>
                </button>
            </div>
            <div class="modal-body text">
                <div class="section-title">
                    <p>DATOS DEL SOLICITANTE:</p>
                </div>
                <div class="row section">
                    <div class="col-3">
                        <p class="label">CÓDIGO</p>
                        <p class="text">201911287</p>
                    </div>
                    <div class="col-4">
                        <p class="label">NOMBRES Y APELLIDOS</p>
                        <p class="text">Alex Garviel Serrano Montoya</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DNI</p>
                        <p class="text">45989595</p>
                    </div>
                    <div class="col-4">
                        <p class="label">TIPO DE PRÁCTICA</p>
                        <p class="text">PRÁCTICAS COMUNITARIAS</p>
                    </div>
                </div>

                <div class="section-title">
                    <p>DATOS DEL NUTRICIONISTA:</p>
                </div>
                <div class="row section">
                    <div class="col-4">
                        <p class="label">NOMBRES Y APELLIDOS</p>
                        <p class="text">Juan Antonio Juarez Mandala</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DNI</p>
                        <p class="text">45989595</p>
                    </div>
                    <div class="col-4">
                        <p class="label">CORREO ELECTRÓNICO</p>
                        <p class="text">juanantjmandala@gmail.com</p>
                    </div>
                </div>

                <div class="section-title">
                    <p>DATOS DEL DIRECTOR O ESPECIALISTA ENCARGADO:</p>
                </div>
                <div class="row section">
                    <div class="col-4">
                        <p class="label">NOMBRES Y APELLIDOS</p>
                        <p class="text">Juan Antonio Flores Muñoz</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DNI</p>
                        <p class="text">45989595</p>
                    </div>
                    <div class="col-4">
                        <p class="label">CORREO ELECTRÓNICO</p>
                        <p class="text">juanantjmandala@gmail.com</p>
                    </div>
                </div>

                <div class="section-title">
                    <p>PLAN DE ACTIVIDADES:</p>
                </div>
                <div class="row section">
                    <div class="col-3">
                        <p class="label">FECHA INICIO</p>
                        <p class="text">29-12-2022</p>
                    </div>
                    <div class="col-3">
                        <p class="label">FECHA FIN</p>
                        <p class="text">23-04-2023</p>
                    </div>
                    <div class="col-4">
                        <button mat-raised-button class="btn btn-info d-inline-flex align-items-center" data-toggle="modal"
                        data-target="#descripcionPlan" (click)="ocultarModal1()">
                            <i class="material-icons-outlined mr-2">
                            visibility</i>Ver descripción
                        </button>
                    </div>
                </div>

                <div class="section-title">
                    <p>DATOS DEL CENTRO DE PRÁCTICAS:</p>
                </div>
                <div class="row section">
                    <div class="col-4">
                        <p class="label">NOMBRE DE LA INSTITUCIÓN</p>
                        <p class="text">Posta médica San Antonio</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DIRECCIÓN</p>
                        <p class="text">Av. Los Geranios 769</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DISTRITO</p>
                        <p class="text">Chosica</p>
                    </div>
                    <div class="col-4">
                        <p class="label">PROVINCIA</p>
                        <p class="text">Lima</p>
                    </div>
                    <div class="col-4">
                        <p class="label">DEPARTAMENTO</p>
                        <p class="text">Lima</p>
                    </div>
                </div>
                
                <div *ngIf="TipoVisual == 1" class="botones d-inline-flex justify-content-end mt-5">
                    <button mat-raised-button type="button" class="btn btn-warning p-0">
                        <label class="detalle-btn d-inline-flex align-items-center h-100" for="file-upload-guia">
                            AÑADIR GUÍA DE PRÁCTICAS
                        </label>
                    </button>
                
                    <button mat-raised-button type="button" class="btn btn-warning p-0">
                        <label class="detalle-btn d-inline-flex align-items-center h-100" for="file-upload-carta">
                            AÑADIR CARTA PRESENTACIÓN
                        </label>
                    </button>
                
                    <div>
                        <button mat-raised-button type="button" id="btnEnviar" class="btn btn-success" disabled>ENVIAR</button>
                    </div>
                </div>

                <div *ngIf="TipoVisual == 2" class="botones d-inline-flex justify-content-end mt-5">

                    <button mat-raised-button class="btn btn-info d-inline-flex align-items-center" data-toggle="modal"
                    data-target="#guiaPracticas" (click)="ocultarModal1()">
                        <i class="material-icons-outlined mr-2">
                        visibility</i>Ver guía de prácticas
                    </button>
                
                    <button mat-raised-button class="btn btn-info d-inline-flex align-items-center" data-toggle="modal"
                    data-target="#cartaPresentacion" (click)="ocultarModal1()">
                        <i class="material-icons-outlined mr-2">
                        visibility</i>Ver carta presentación
                    </button>
                
                </div>

                

                <!--Cada vez que haya un cambio en el input, se ejecutara la funcion puesta en el (change)-->
                <input (change)="archivosListosParaSubir(); mostrarNombreArchivo(1)" id="file-upload-guia" type="file" hidden/>
                <input (change)="archivosListosParaSubir(); mostrarNombreArchivo(2)" id="file-upload-carta" type="file" hidden/>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal1></button>
    </div>
</div>


<!---Modal para mostrar descripcion-->
<div class="modal fade" id="descripcionPlan" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1">
                <h4 class="title-submodal">Descripción del plan de actividades:</h4>
            </div>
            <div class="modal-body text">
                <textarea name="texto" class="descripcion-actividades" cols="20" rows="10" disabled></textarea>
                <div class="d-inline-flex justify-content-end mt-3 w-100">
                    <button mat-raised-button class="btn btn-success" (click)="descBackToModal1()">VOLVER</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal2></button>
</div>


<!---Modal para ver guia de practicas-->
<div
  class="modal fade"
  id="guiaPracticas"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content" style="height: 600px">
      <div class="modal-header p-1">
        <h4 class="title-submodal">Documento guía de prácticas:</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="descBackToModal1()">

          <i class="material-icons-outlined icon-cancel"> cancel </i>
        </button>
      </div>
      <div class="modal-body pb-0">
        <embed
          #mostrador
          id="ver"
          src=""
          type="application/pdf"
          width="100%"
          height="440"
        />
      </div>
    </div>
  </div>
    <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        hidden
        #close_modal2>
    </button>

    <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal2></button>
</div>



<!---Modal para ver carta presentacion-->
<div
  class="modal fade"
  id="cartaPresentacion"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content" style="height: 600px">
      <div class="modal-header p-1">
        <h4 class="title-submodal">Documento carta presentación:</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="descBackToModal1()">

          <i class="material-icons-outlined icon-cancel"> cancel </i>
        </button>
      </div>
      <div class="modal-body pb-0">
        <embed
          #mostrador
          id="ver"
          src=""
          type="application/pdf"
          width="100%"
          height="440"
        />
      </div>
    </div>
  </div>
    <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        hidden
        #close_modal2>
    </button>

    <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal2></button>
</div>