.icon-cancel{
    font-size: 30px;
}

.section-title{
    background-color: #014776;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 35px;
    p {
        margin: 0;
    }
}

.modal-body .section-title:first-child{
    margin-top: 10px;
}

.section{
    margin-top: 18px;
}

.label{
    color: #014776;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.modal-content{
    padding: 15px;
}

.botones{
    width: 100%;
    gap: 10px;
}

.detalle-btn{
    cursor: pointer;
    padding: 8px 16px;
    margin: 0;
    color: white;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}

.botones .btn-success:disabled{
    background-color: rgb(176, 175, 175);
    cursor: default;
}

.botones .btn-success:disabled:hover{
    background-color: rgb(176, 175, 175);
}