<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="nav-item">
              <a
                class="nav-link active"
                href="#pendientes"
                data-toggle="tab"
                (click)="visualizar1()"
              >
                Solicitudes Pendientes de Validación de Plaza
                <div class="ripple-container"></div>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#validadas"
                data-toggle="tab"
                (click)="visualizar2()"
              >
                Solicitudes ya validadas
                <div class="ripple-container"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body pt-4">
      <div class="tab-content">
        <div class="tab-pane active" id="pendientes">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center"></div>

            <div class="d-flex align-items-center ml-auto">
              <input
                type="text"
                placeholder="Buscar por Código de Alumno"
                class="form-control input-codigo"
              />
              <button mat-raised-button class="btn btn-info ml-3">
                Buscar
              </button>
            </div>
          </div>
          <table class="table mt-3">
            <thead class="text-danger">
              <th>Código de Alumno</th>
              <th>Nombre del Postulante</th>
              <th>Fecha Registro</th>
              <th>Estado</th>
              <th>Tipo Solicitud</th>
              <th style="text-align: center">Acción</th>
            </thead>
            <tbody>
              <tr *ngFor="let reporte of reportes; let i = index">
                <td>{{ reporte.num_doc }}</td>
                <td>{{ reporte.nom_usuario }}</td>
                <td>{{ reporte.fecha_reg }}</td>
                <td>{{ reporte.nombre_solestado }}</td>
                <td>{{ reporte.nom_tipoprac }}</td>
                <td style="text-align: center">
                  <button
                    mat-raised-button
                    class="btn btn-info"
                    data-toggle="modal"
                    data-target="#validarPlaza"
                    (click)="TipoVisualizacion(1, i)"
                  >
                    Validar Plaza
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="validadas">
          <div class="d-flex align-items-center">
            <div class="d-flex align-items-center"></div>

            <div class="d-flex align-items-center ml-auto">
              <input
                type="text"
                placeholder="Buscar por Código de Alumno"
                class="form-control input-codigo"
              />
              <button mat-raised-button class="btn btn-info ml-3">
                Buscar
              </button>
            </div>
          </div>
          <table class="table mt-3">
            <thead class="text-danger">
              <th>Código de Alumno</th>
              <th>Nombre del Postulante</th>
              <th>Fecha Registro</th>
              <th>Estado</th>
              <th>Tipo Solicitud</th>
              <th style="text-align: center">Acción</th>
            </thead>
            <tbody>
              <tr *ngFor="let reporte of reportesv; let i = index">
                <td>{{ reporte.num_doc }}</td>
                <td>{{ reporte.nom_usuario }}</td>
                <td>{{ reporte.fecha_reg }}</td>
                <td>{{ reporte.nombre_solestado }}</td>
                <td>{{ reporte.nom_tipoprac }}</td>
                <td style="text-align: center">
                  <button
                    mat-raised-button
                    class="btn btn-info"
                    data-toggle="modal"
                    data-target="#validarPlaza"
                    (click)="TipoVisualizacion(2, i)"
                  >
                    Ver
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-validar-plaza-modal
  [TipoVisual]="validator"
  [soli]="soli"
></app-validar-plaza-modal>
