<a href="" [routerLink]="['/estudiante/pages/home']">
    <div class="d-inline-flex align-items-center mt-3 gap-3">
        <span class="material-icons-outlined icon-return mr-2">
            arrow_back
        </span>
        <span class="title">Volver</span>
    </div>
</a>

<div class="opciones">
    
    <a href="" [routerLink]="['/estudiante/pages/registrar-solicitud']">
        <div class="card opcion-realizar-solicitud sombra-suave" style="width: 12rem; height: 11rem; text-align: center;">
            <span class="material-icons-outlined img-opcion">
                note_add
            </span>
            <div class="card-body" style="padding-top: 10px;">
                <h6 class="card-title">Realizar <br> nueva solicitud</h6>
            </div>
        </div>
    </a>
        
    <a href="" [routerLink]="['/estudiante/pages/estado-solicitud']">
        <div class="card opcion-estado-solicitud sombra-suave " style="width: 12rem; height: 11rem; text-align: center;">
            <span class="material-icons-outlined img-opcion">
                fact_check
            </span>
            <div class="card-body">
                <h6 class="card-title">Estado de solicitud</h6>
            </div>
        </div>
    </a>    
</div>

