<div class="container">

    <div class="row">
        <div class="col-12 d-flex align-items-center">
            
        </div>
    </div>

    <div class="row">
            <div [routerLink]="['/detalle-solicitud']" class="col-6 d-flex align-items-center justify-content-center sector-publico">
                <span class="detalle">Practicas sector público</span>
                <span class="material-icons-outlined ms-auto">
                    insert_drive_file
                </span>
            </div>
    </div>

    <div class="row">
        <div class="col-6 mt-4 d-flex align-items-center justify-content-center sector-privado">
            <span class="detalle">Practicas sector privado</span>
            <span class="material-icons-outlined ms-auto">
                insert_drive_file
            </span>
        </div>
    </div>
</div>

