<app-header></app-header>

<div class="d-flex espacio-trabajo">
    <app-sidebar></app-sidebar>

    <main class="flex-grow-1">
        <div id="espacio-principal">

            <div class="btn-return d-inline-flex gap-3">
                <a [routerLink]="['/menu-principal']">
                    <span class="material-icons-outlined icon-return">
                        arrow_back
                    </span>
                </a>
                <p class="title">Revisar Solicitudes</p>
            </div>
            
            <div class="container space-options">

                <div class="row">
                    <div class="col-12 col-md-10 offset-md-2 mb-4 block">
                        <div class="wrapper-progressBar">
                            <ul class="progressBar">
                                <li class="" #cyrcle1></li>
                                <li class=""></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div [routerLink]="['/detalle-solicitud']"
                        class="col-6 mx-auto d-flex align-items-center justify-content-center sector-publico">
                        <span class="detalle">Practicas sector público</span>
                        <span class="material-icons-outlined ms-auto icon-document">
                            insert_drive_file
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 mx-auto mt-4 d-flex align-items-center justify-content-center sector-privado">
                        <span class="detalle">Practicas sector privado</span>
                        <span class="material-icons-outlined ms-auto icon-document">
                            insert_drive_file
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </main>

</div>