<div class="modal fade" id="validarSolicitudPendiente" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1 justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons-outlined icon-cancel">
                        cancel
                    </i>
                </button>
            </div>
            <div class="modal-body text">
                <div class="section-title">
                    <p>DATOS DEL SOLICITANTE:</p>
                </div>
                <div class="row section">
                    <div class="col-3">
                        <p class="label">CÓDIGO</p>
                        <p class="text">{{Solicitud?.cod_alumno}}</p>
                    </div>
                    <div class="col-4">
                        <p class="label">NOMBRES Y APELLIDOS</p>
                        <p class="text">{{Solicitud?.nom_usuario}}</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DNI</p>
                        <p class="text">{{Solicitud?.num_doc}}</p>
                    </div>
                    <div class="col-4">
                        <p class="label">TIPO DE PRÁCTICA</p>
                        <p class="text">{{Solicitud?.nom_tipoprac}}</p>
                    </div>
                </div>

                <div class="section-title">
                    <p>DATOS DEL NUTRICIONISTA:</p>
                </div>
                <div class="row section">
                    <div class="col-4">
                        <p class="label">NOMBRES Y APELLIDOS</p>
                        <p class="text">{{Solicitud?.sup_nombre}}</p>
                    </div>
                    <div class="col-3">
                        <p class="label">TELÉFONO</p>
                        <p class="text">{{Solicitud?.sup_telefono}}</p>
                    </div>
                    <div class="col-4">
                        <p class="label">CORREO ELECTRÓNICO</p>
                        <p class="text">{{Solicitud?.sup_correo}}</p>
                    </div>
                </div>

                <div class="section-title">
                    <p>DATOS DEL REMITENTE:</p>
                </div>
                <div class="row section">
                    <div class="col-4">
                        <p class="label">NOMBRES Y APELLIDOS</p>
                        <p class="text">{{Solicitud?.rem_nombre}}</p>
                    </div>
                    <div class="col-3">
                        <p class="label">CARGO</p>
                        <p class="text">{{Solicitud?.rem_cargo}}</p>
                    </div>
                    <div class="col-4">
                        <p class="label">CORREO ELECTRÓNICO</p>
                        <p class="text">{{Solicitud?.rem_correo}}</p>
                    </div>
                </div>

                <div class="section-title">
                    <p>PLAN DE ACTIVIDADES:</p>
                </div>
                <div class="row section">
                    <div class="col-3">
                        <p class="label">FECHA INICIO</p>
                        <p class="text">{{Solicitud?.fecha_inicio | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <div class="col-3">
                        <p class="label">FECHA FIN</p>
                        <p class="text">{{Solicitud?.fecha_fin | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <div class="col-4">
                        <button mat-raised-button class="btn btn-info d-inline-flex align-items-center" data-toggle="modal"
                        data-target="#descripcionPlan" (click)="ocultarModal1()">
                            <i class="material-icons-outlined mr-2">
                            visibility</i>Ver descripción
                        </button>
                    </div>
                </div>

                <div class="section-title">
                    <p>DATOS DEL CENTRO DE PRÁCTICAS:</p>
                </div>
                <div class="row section">
                    <div class="col-4">
                        <p class="label">NOMBRE DE LA INSTITUCIÓN</p>
                        <p class="text">{{Solicitud?.centro_practicas}}</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DIRECCIÓN</p>
                        <p class="text">{{Solicitud?.direccion}}</p>
                    </div>
                    <div class="col-3">
                        <p class="label">DISTRITO</p>
                        <p class="text">{{Solicitud?.distrito}}</p>
                    </div>
                    <div class="col-4">
                        <p class="label">PROVINCIA</p>
                        <p class="text">{{Solicitud?.provincia}}</p>
                    </div>
                    <div class="col-4">
                        <p class="label">DEPARTAMENTO</p>
                        <p class="text">{{Solicitud?.departamento}}</p>
                    </div>
                </div>

                <div *ngIf="TipoVisual == 2">
                    <div class="section-title">
                        <p>OBSERVACIONES</p>
                    </div>
                    <div class="row section">
                        <div class="col-12">
                            <textarea name="texto" class="observaciones" cols="20" rows="5" disabled>{{Solicitud?.observacion}}</textarea>
                        </div>
                    </div>    
                </div>
                
                <div *ngIf="TipoVisual == 1" class="botones d-inline-flex flex-row-reverse mt-5">
                    <button mat-raised-button type="button" class="btn btn-success" (click)="validarSolicitud()">VALIDAR SOLICITUD</button>
                    <button mat-raised-button type="button" class="btn btn-warning" data-toggle="modal"
                    data-target="#observaciones" (click)="ocultarModal1()" >AÑADIR OBSERVACIÓN</button>
                    <button mat-raised-button type="button" class="btn btn-danger" (click)="rechazarSolicitud()">RECHAZAR SOLICITUD</button>
                </div>

                <div *ngIf="TipoVisual == 2" class="botones d-inline-flex flex-row-reverse mt-4">
                    <button mat-raised-button type="button" class="btn btn-success" (click)="validarSolicitud()">VALIDAR SOLICITUD</button>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal1></button>
    </div>
</div>


<!---Modal para Observaciones-->
<div class="modal fade" id="observaciones" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1">
                <h4 class="title-submodal">Observaciones:</h4>
            </div>
            <div class="modal-body text">
                <textarea #observacion name="texto" class="input-observacion" cols="30" rows="10" placeholder="Escribe aquí las observaciones de la solicitud"></textarea>
                <div class="d-inline-flex justify-content-end mt-3 w-100">
                    <button mat-raised-button class="btn btn-success mr-3" (click)="observarSolicitud()">ENVIAR INFORMACIÓN</button>
                    <button mat-raised-button class="btn btn-danger" (click)="backToModal1()">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal2></button>
</div>


<!---Modal para mostrar descripcion-->
<div class="modal fade" id="descripcionPlan" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1">
                <h4 class="title-submodal">Descripción del plan de actividades:</h4>
            </div>
            <div class="modal-body text">
                <textarea name="texto" class="descripcion-actividades" cols="20" rows="10" disabled>{{Solicitud?.det_actividades}}</textarea>
                <div class="d-inline-flex justify-content-end mt-3 w-100">
                    <button mat-raised-button class="btn btn-success" (click)="descBackToModal1()">VOLVER</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal3></button>
</div>