<div class="fixed top-0 left-0 h-screen w-screen bg-black bg-opacity-10 p-4 z-10 flex justify-center items-center">
    <div class="bg-white px-8 py-4 shadow rounded-lg w-1/2 relative space-y-2 text-xs">
        <button class="absolute right-2 top-2 rounded-full bg-gray-200 w-5 h-5">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="w-full border-1 border-gray-500">
            <div class="w-full bg-blue-500 text-white px-4 py-2 text-lg">
                DATOS DEL SOLICITANTE
            </div>
            <div class="p-2">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-8 flex flex-col">
                        <span class="font-bold">CÓDIGO</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-8 flex flex-col">
                        <span class="font-bold">NOMBRES Y APELLIDOS DEL SOLICITANTE</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">DNI</span>
                        <span class="capitalize"></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">TIPO DE PRÁCTICA</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-12 flex justify-end">
                        <button class="rounded-full bg-red-900 text-white font-bold px-4 py-1">
                            Ver documento solicitud <span class="material-icons-outlined">
                                visibility
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full border-1 border-gray-500">
            <div class="w-full bg-blue-500 text-white px-4 py-2 text-lg">
                DATOS PERSONALES DEL NUTRICIONISTA
            </div>
            <div class="p-2">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">NOMBRES Y APELLIDOS</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">TELÉFONO</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">CORREO ELECTRÓNICO</span>
                        <span class="capitalize"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full border-1 border-gray-500">
            <div class="w-full bg-blue-500 text-white px-4 py-2 text-lg">
                DATOS DEL REMITENTE
            </div>
            <div class="p-2">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">NOMBRES Y APELLIDOS</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">CARGO</span>
                        <span class=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full border-1 border-gray-500">
            <div class="w-full bg-blue-500 text-white px-4 py-2 text-lg">
                PLAN DE ACTIVIDADES
            </div>
            <div class="p-2">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-8 flex flex-col">
                        <span class="font-bold">FECHA DE INICIO</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-8 flex flex-col">
                        <span class="font-bold">FECHA FINAL</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-12 flex justify-end">
                        <button class="rounded-full bg-red-900 text-white font-bold px-4 py-1">
                            Ver documento solicitud <span class="material-icons-outlined">
                                visibility
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full border-1 border-gray-500">
            <div class="w-full bg-blue-500 text-white px-8 py-2 text-lg">
                DATOS DE CENTRO DE PRÁCTICAS
            </div>
            <div class="p-2">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">Direccion Establecimiento</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">Zonificacion</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">Nombre Comercial</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">Area Total m2</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">Aforo</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-4 flex flex-col">
                        <span class="font-bold">Antiguedad</span>
                        <span class=""></span>
                    </div>
                    <div class="col-span-12 flex justify-end space-x-4">
                        <button class="rounded-full bg-red-900 text-white font-bold px-4 py-1" button>
                            Giros
                        </button>
                        <button class="rounded-full bg-red-900 text-white font-bold px-4 py-1">
                            Pisos
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center space-x-2">
            <button class="rounded-full bg-green-600 text-white font-bold px-4 py-1">
                Validar
            </button>
            <button class="rounded-full bg-green-600 text-white font-bold px-4 py-1">
                Evaluar
            </button>
            <button class="rounded-full bg-red-600 text-white font-bold px-4 py-1">
                Rechazar
            </button>
            <button class="rounded-full bg-green-600 text-white font-bold px-4 py-1">
                Validar Pago
            </button>
        </div>
    </div>
</div>