<div class="card">
    <div class="card-header card-header-info d-inline-flex align-items-center">
      <h4 class="card-title">Lista de Supervisores</h4>
      <button mat-raised-button class="btn btn-success ml-auto d-inline-flex align-items-center"><span class="material-icons-outlined mb-2 mx-3">
        person_add_alt</span>Registrar Supervisor</button>
    </div>
    <div class="card-content table-responsive table-full-width">
      <div class="row mb-4 mt-4 mx-4">
          <div class="col-4 d-inline-flex">
            <span class="material-icons-outlined mt-1 mx-3 btn-filtro">
              filter_list
              </span>    
            <select class="form-control" id="select-filtro">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3"></div>
        <div class="col-5 d-inline-flex align-items-center">
            <input type="text" value="" placeholder="Regular" class="form-control" />
            <button type="button" class="btn btn-primary btn-buscar">Primary</button>
      </div>
    <table class="table">
      <thead class="text-danger">
        <th>Código</th>
        <th>Nombre del Supervisor</th>
        <th colspan="2" style="text-align: center;">Acción</th>
      </thead>
      <tbody>
        <tr>
          <td>Dakota Rice</td>
          <td>Niger</td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            edit
            </span></td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            delete_forever
            </span></td>
        </tr>
        <tr>
          <td>Minerva Hooper</td>
          <td>Curaçao</td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            edit
            </span></td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            delete_forever
            </span></td>
        </tr>
        <tr>
          <td>Sage Rodriguez</td>
          <td>Netherlands</td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            edit
            </span></td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            delete_forever
            </span></td>
        </tr>
        <tr>
          <td>Philip Chaney</td>
          <td>Korea, South</td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            edit
            </span></td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            delete_forever
            </span></td>
        </tr>
        <tr>
          <td>Doris Greene</td>
          <td>Malawi</td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            edit
            </span></td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            delete_forever
            </span></td>
        </tr>
        <tr>
          <td>Mason Porter</td>
          <td>Chile</td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            edit
            </span></td>
          <td style="text-align: center;"><span class="material-icons-outlined">
            delete_forever
            </span></td>
        </tr>
      </tbody>
    </table>
  </div>
