<div class="opciones">
    <a href="" [routerLink]="['/estudiante/pages/mis-solicitudes']" >
        <div class="card opcion-solicitudes sombra-suave" style="width: 12rem; height: 11rem; text-align: center;">
            <span class="material-icons-outlined img-opcion">
                app_registration
            </span>
            <div class="card-body">
                <h6 class="card-title">Mis Solicitudes</h6>
            </div>
        </div>
    </a>
        
    <a href="">
        <div class="card opcion-reportes sombra-suave " style="width: 12rem; height: 11rem; text-align: center;">
            <span class="material-icons-outlined img-opcion">
                add_chart
            </span>
            <div class="card-body">
                <h6 class="card-title">Mis Reportes</h6>
            </div>
        </div>
    </a>    
</div>
