<div class="modal fade" id="añadirPostulante" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" style="max-width: 650px;">
        <div class="modal-content">
            <div class="modal-header p-1">
                <h4 class="title">Añadir un nuevo postulante</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons-outlined icon-cancel">
                        cancel
                    </i>
                </button>
            </div>
            <div class="modal-body text">
                <form>
                    
                    <div class="form-row mt-3 mb-4">
                        <div class="col-5 pr-5">
                            <label class="lbl-tipoDoc" for="tipoDoc">Tipo de documento</label>
                            <select class="form-control" id="tipoDoc" #tipoDoc (change)="showDNIorCarnet()" >
                                <option value="0" selected>--- Seleccione un tipo ---</option>
                                <option value="1">DNI</option>
                                <option value="2">Carnet de extranjería</option>
                            </select>
                        </div>

                        <div *ngIf="selectValor == 1" class="col-3 d-flex justify-content-center">
                            <mat-form-field class="example-full-width nroDoc" style="position: relative;">
                                <input matInput type="text" placeholder="DNI">
                            </mat-form-field>
                        </div>
                        <div *ngIf="selectValor == 1" class="col-3 d-flex justify-content-start ml-4" style="position: relative;">
                            <button style="display: block;" type="button" mat-raised-button id="btn-buscar" class="btn btn-info" >Buscar</button>
                        </div>
                        <div *ngIf="selectValor == 2" class="col-3 d-flex justify-content-center">
                            <mat-form-field class="example-full-width nroDoc" style="position: relative;">
                                <input matInput type="text" placeholder="Carnet de extranjería">
                            </mat-form-field>
                        </div>

                        <!--
                            <div *ngIf="selectValor == 1" class="col-3 d-flex justify-content-center" style="position: relative;">
                            <input type="text" class="form-control" id="nroDoc" placeholder="DNI">
                            </div>
                            <div *ngIf="selectValor == 1" class="col-3 d-flex justify-content-start" style="position: relative;">
                                <button style="display: block;" type="button" mat-raised-button id="btn-buscar" class="btn btn-info" >Buscar</button>
                            </div>
                            <div *ngIf="selectValor == 2" class="col-3 d-flex justify-content-center" style="position: relative;">
                                <input type="text" class="form-control" id="nroDoc" placeholder="Carnet de extranjería">
                            </div>
                        -->
                        


                    </div>

                    <div class="mb-5">
                        <label class="lbl-nom" for="nom">Nombres y Apellidos</label>
                        <input type="text" class="form-control input-nom" style="width: 60%;" id="">
                    </div>

                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 60%;">
                            <input matInput type="text" placeholder="Código de Estudiante">
                        </mat-form-field>
                    </div>

                    <div class="mb-3">
                        <mat-form-field class="example-full-width" style="width: 60%;">
                            <input matInput type="email" placeholder="Correo Electrónico">
                        </mat-form-field>
                    </div>   

                    <div class="mt-5 mb-4">
                        <label class="lbl-SelectPracticas mb-3">Seleccionar las prácticas para las que esta apto:</label>
                        <div class="form-check d-flex">
                            <input class="" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Prácticas comunitarias
                            </label>
                        </div>
                        <div class="form-check d-flex">
                            <input class="" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                              Prácticas clínicas
                            </label>
                        </div>
                    </div>

                    <div class="botones d-inline-flex justify-content-end mt-2 w-100">
                        <button type="button" mat-raised-button class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                        <button type="button" mat-raised-button class="btn btn-success">AÑADIR POSTULANTE</button>
                    </div>

                </form>
                
                
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" hidden #close_modal2></button>
</div>
