<a href="" [routerLink]="['/estudiante/pages/mis-solicitudes']">
    <div class="d-inline-flex align-items-center mt-3 gap-3">
        <span class="material-icons-outlined icon-return mr-2">
            arrow_back
        </span>
        <span class="title">Volver</span>
    </div>
</a>

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header d-inline-flex align-items-center card-header-primary">
            <h4 class="card-title">ESTADO DE SOLICITUD</h4>
        </div>
        <div class="card-body table-responsive pt-4">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center" style="color: black;">
                  Filtrar por:
                  <select class="form-control select-filtro ml-2">
                    <option>Tipo de Solicitud</option>
                  </select>
                  <i class="material-icons-outlined mt-1 mx-3 icon-filtro">
                    filter_list
                  </i>
                </div>
            </div>
            <table class="table mt-4">
                <thead style="text-align: center;">
                  <th>SOLICITUD</th>
                  <th></th>
                  <th>FECHA DE REGISTRO</th>
                  <th>ESTADO</th>
                  <th>TIPO DE PRÁCTICA</th>
                </thead>
                <tbody>
                  <tr style="text-align: center;">
                    <td><button mat-raised-button class="btn btn-info">SOLICITUD: Prácticas y archivo subido</button></td>
                    <td>
                        <span class="material-icons-outlined icono-view">
                            visibility
                        </span>
                    </td>
                    <td>12/06/2021</td>
                    <td>REGISTRADO</td>
                    <td>P. Comunitaria</td>
                  </tr>
                  <tr style="text-align: center;">
                    <td><button mat-raised-button class="btn btn-info">SOLICITUD: Prácticas y archivo subido</button></td>
                    <td>
                        <span class="material-icons-outlined icono-view">
                            visibility
                        </span>
                    </td>
                    <td>12/06/2021</td>
                    <td>REGISTRADO</td>
                    <td>P. Comunitaria</td>
                  </tr>
                  <tr style="text-align: center;">
                    <td><button mat-raised-button class="btn btn-info">SOLICITUD: Prácticas y archivo subido</button></td>
                    <td>
                        <span class="material-icons-outlined icono-view">
                            visibility
                        </span>
                    </td>
                    <td>12/06/2021</td>
                    <td>REGISTRADO</td>
                    <td>P. Comunitaria</td>
                  </tr>
                  <tr style="text-align: center;">
                    <td><button mat-raised-button class="btn btn-info">SOLICITUD: Prácticas y archivo subido</button></td>
                    <td>
                        <span class="material-icons-outlined icono-view">
                            visibility
                        </span>
                    </td>
                    <td>12/06/2021</td>
                    <td>REGISTRADO</td>
                    <td>P. Comunitaria</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>