<app-header></app-header>

<div class="d-flex espacio-trabajo">
    <app-sidebar></app-sidebar>
    
    <main class="flex-grow-1">
        <div id="espacio-principal">
        
            <a href="">
                <div class="card sombra-suave" style="width: 12rem; height: 11rem; text-align: center;">
                    <span class="material-icons-outlined img-opcion">
                        app_registration
                    </span>
                    <div class="card-body">
                        <h6 class="card-title">Crear Usuario</h6>
                    </div>
                </div>
            </a>
                
            <a href="">
                <div class="card sombra-suave " style="width: 12rem; height: 11rem; text-align: center;">
                    <span class="material-icons-outlined img-opcion">
                        search
                        </span>
                    <div class="card-body">
                        <h6 class="card-title">Crear Capacitacion</h6>
                    </div>
                </div>
            </a>
        
        </div>
    </main>
    
</div>