<app-header></app-header>

<div class="d-flex">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    

    <div id="section">
        <a href="" >
            <div class="card sombra-suave colorframe" style="width: 12rem; height: 11rem; text-align: center;">
                <span class="material-icons-outlined img-opcion" style="color: white;">
                    app_registration
                    </span>
                <div class="card-body">
                    <h6 class="card-title text-white "> <strong>Crear Usuario</strong> </h6>
                </div>
            </div>
        </a>
            
        <a href="">
            <div class="card sombra-suave colorframe1" style="width: 12rem; height: 11rem; text-align: center;">
                <span class="material-icons-outlined img-opcion" style="color: white;">
                    search
                    </span>
                <div class="card-body">
                    <h6 class="card-title text-white " > <strong>Crear Capacitacion</strong> </h6>
                </div>
            </div>
        </a>
    
    </div>
</div>